header {
  border-bottom: solid 3px #ca9c11 ;
  padding 10px;
  font-size: 22px;
  color: white;
}

body {
  background-color:#ffcc99; }
h1 {color:#990099 ;  }
P  {
    font-Size: 16px;
    color:#cc6699;
}
